
<!DOCTYPE html>
<html>
<head>
	<title>Food Item List page</title>
  <style>
  table.center {
        margin-left: auto;
        margin-right: auto;
      }
			h3 {text-align: right;}
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      }

      li {
      float: left;
      width: 14%;
      }

      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }

      li a:hover {
      background-color: #111;
      }
      </style>

      </head>
    <body>
       <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/manager/AllFoodItem">Coffee List</a></li>
          <li><a href="/manager/create">Post new Item</a></li>
          <li><a href="/manager/allDeliveryMan">Delivery man</a></li>
          <li><a href="/manager/AllFoodItem">Reviews</a></li>
          <li><a href="/manager/newArrival">New Arrival</a></li>
          <li><a href="/logout">Logout</a><li>
      </ul>
	<center>
				<h1>Customer Reviews!!</h1>
        <h2><%= food.name %></h2>

			</center>

						<h3><a href="/home">Back</a></h3>

          <table class="center">
            <tr><td>

            <fieldset>
             <table class="center">
             <legend><h4><%= food.name %></h4></legend>
            <tr>
             <th>ID</th><td>:<%= food.id %></td><td></td>
            </tr>
            <tr>
             <th>NAME</th><td>:<%= food.name %></td><td>
            </tr>
            <tr>
             <th>Price/item</th><td>:<%= food.price %></td>
            </tr
            <tr>
             <th>Suggested</th><td>:<%= food.suggested %></td>
            <tr>
             <th>Status</th><td>:<%= food.status %></td>
            </tr>
            <tr>
             <th>Ingredients</th><td>:<%= food.ingredients %></td>
            </tr>
            </table>
            </fieldset></td>

            <td><h4>Comments:</h4>
            <% for(var i=0; i < cmtList.length; i++){ %>
            <table class="center">
              <tr>
                <th></th>
                <td><input type="text" id="" name="cmt" value="<%= cmtList[i].comment %>" readonly><br></td>
              </tr>
            </table>
            <% } %>
            </td></tr>
            </table>
    </body>
  </html>
