<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<style>
	table.center {
				margin-left: auto;
				margin-right: auto;
			}


	table.right {
		  margin-left: auto;
		  margin-center: auto;
		}

		ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
	</style>

</head>
<body>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/manager/editProfile/<%= userlist.id %>">Edit Profile</a></li>
		  <li><a href="/manager/AllFoodItem">Coffee List</a></li>
			<li><a href="/manager/create">Add Coffee</a></li>
			<li><a href="/manager/allDeliveryMan">Delivery man</a></li>
			<li><a href="/logout">Logout</a><li>
		</ul>

	<center>

					<h1>Welcome Home! <%= userlist.name %></h1>
					<h2>My Profile</h2>

</center>

	<fieldset>

		<table class="center">
			<tr>
				<td><img alt="User Pic" src="http://localhost:58800/images/upload_images/<%= userlist.image%>" width="230" height="200" class="img-circle img-responsive"></td>
				<td><pre>
	 ID	 : <%= userlist.id %><br>
	 Name	 : <%= userlist.name %><br>
	 Gender  : <%= userlist.gender %><br>
	 Phone   : <%= userlist.phone %><br>
	 Address : <%= userlist.address %><br>
	 Email   : <%= userlist.email %><br></pre></td>
			</tr>
			<tr>
				<td></td>
				<td><h3><a href="/manager/editProfile/<%= userlist.id %>">Edit Profile</h3></a></td>
			</tr>
		</table>
	</fieldset>


</body>
</html>
