<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
    table.center {
          margin-left: auto;
          margin-right: auto;
        }
        h4 {text-align: center;}
    </style>

    <script>
      function validateForm() {
      var x = document.forms["ingredForm"]["ingredients"].value;
      if (x != "<%= user.ingredients %>") {
      alert("Updated INGREDIENTS successfully....");
      return true;
      }
      else{
        alert("Nothing changed!!!! ");
        return true;
      }
    }
    </script>
</head>
<body>
    <form name="ingredForm" onsubmit="return validateForm()" method="post">
        <fieldset>
            <legend>Change the Ingredients of a food item</legend>
            <table class="center">
              <tr>
                <td>Item name: </td>
                <td><%= user.name %></td>
              </tr>
              <tr>
                <td>Item id:</td>
                <td><%= user.id %></td>
              </tr>
              <tr>
                <td>Item price:</td>
                <td><%= user.price %></td>
              </tr>
              <tr>
                <td>Item status:</td>
                <td><%= user.status %></td>
              </tr>
              <tr>
                <td>Ingredients</td>
                <td><input type="text" value="<%= user.ingredients %>" required="required" name="ingredients"  id="ingredients"></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit" name"choice" value="Save" class="btn btn-primary">Save</button></td>
              </tr>
              </table>
            </fieldset>
              <table class="center">
              <tr>
                <td><a href="/manager/AllFoodItem">Back</a></td>
                <td>|</td>
              	<td><a href="/logout">Logout</a></td>
              </tr>
            </table>
    </form>
</body>
